@import '../../styles/settings';

.navBar {
  background-color: darken($color-dark, 3%);
  width: 100%;
  padding: 10px 10px;

  .navContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-size: 24px;
    color: $color-light;
    text-decoration: none;

    i {
      margin-right: 10px;
    }
  }

  .navLinks {
    list-style: none;
    display: flex;
    gap: 15px;

    li {
      a {
        color: $color-light;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
